* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#container {
    width: 60vw;
    background-color: aqua;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.child {
    width: 100px;
    height: 100px;
    background-color: brown;
    color: white;
}